
@import url('../base/menu.css');

.nav-bar{
    width: 100%;
    height: 50px;
    background-color: #ff7ff7;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    top: 0;
}

.nav-mobile{
    width: 100%;
    height: 100px;
    background-color: #ff7ff7;
    float: left;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    display: none;
}

.menu-bar{
    display: none;
}

.nav-overlay{
    display: none;
}

.content{
    width: 100%;
    height: 2000px;
    background-color: #fff;
    float: left;
}

.footer{
    width: 100%;
    height: 500px;
    background-color: #999;
    float: left;
}

@media screen and (max-width:1023px) {
    .nav-bar {
        display: none;
    }

    .nav-mobile{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        
    }

    .nav-overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        float: left;
        z-index: 10;
        display: none;
    }

    .menu-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed !important;
        top: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        max-width: 100%;
        background-color: #fff;
        z-index: 11;
        padding: 40px 20px 20px 50px;
        transform: translateX(100%);
        transition: 0.3s;
    }

    #open-menu-status:checked ~ .menu-bar{
        transform: translate(0%);
    }

    #open-menu-status:checked ~ .nav-overlay{
        display: block;
    }
}