#open-menu-status{
    z-index: -100 !important;
    display: none;
}

#open-category-status{
    z-index: -100 !important;
    display: none;
}

#open-notification-status{
    z-index: -100 !important;
    display: none;
}

.nav-bar{
    width: 100%;
    height: 50px;
    background-color: var(--pink-color);
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    z-index: 50;
}

.nav-mobile{
    width: 100%;
    height: 100px;
    background-color: var(--pink-color);
    float: left;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    display: none;
    z-index: 50;
}

.menu-bar{
    display: none;
}
.category-bar{
    display: none;
}

.nav-overlay{
    display: none;
}
.category-overlay{
    display: none;
}

.nav-bar-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-bar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar-center{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-bar-left > *{
    margin-right: 16px;
}
.nav-bar-right > *{
    margin-left: 16px;
}
.nav-bar-center > *{
    margin-right: 16px;
}

.logo{
    background-image: url(../../assets/image/logo.jpg);
    height: 42px;
    width: 42px;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
}

.menu-item{
    width: auto;
    height: 48px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.menu-item:hover{
    color: #186CD8;
}

.menu-item i{
    margin-right: 5px;
}

.menu-item.cart{
    position: relative;
}

.menu-item.cart[count="0"] .cart-count{
    display: none;
}

.cart-count{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--pink2-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    top: 5px;
    left: 8px;
}

@media screen and (max-width:1023px) {

    .nav-bar {
        display: none;
    }

    .nav-mobile{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        
    }

    .nav-overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        float: left;
        z-index: 10;
        display: none;
    }
    .category-overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        float: left;
        z-index: 10;
        display: none;
    }

    .menu-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed !important;
        top: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        max-width: 100%;
        background-color: #fff;
        z-index: 100;
        padding: 40px 20px 20px 20px;
        transform: translateX(100%);
        transition: 0.3s;
    }
    .category-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed !important;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        max-width: 100%;
        background-color: #fff;
        z-index: 100;
        padding: 40px 20px 20px 20px;
        transform: translateX(-100%);
        transition: 0.3s;
    }

    .tree-bar-wrapper{
        width: auto;
        height: auto;
        max-height: 92%;
        overflow-y: auto;
        padding-right: 15px;
    }

    .tree-bar-wrapper::-webkit-scrollbar {
        width: 2px;
        background-color: #F1F1F1;
    }

    #open-menu-status:checked ~ .menu-bar{
        transform: translate(0%);
    }

    #open-menu-status:checked ~ .nav-overlay{
        display: block;
    }

    #open-category-status:checked ~ .category-bar{
        transform: translate(0%);
    }

    #open-category-status:checked ~ .category-overlay{
        display: block;
    }

    .nav-top{
        width: 100%;
        height: 50%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-top span{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .nav-top span h3{
        font-weight: bolder;
        font-size: 20px;
        margin-left: 5px;
        color: #186CD8;
    }

    .open-menu{
        width: 28px;
        height: 28px;
    }
    .open-menu i{
        font-size: 28px;
    }

    .nav-bottom{
        width: 100%;
        height: 50%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-bottom span{
        display: flex;
        align-items: center;
        width: auto;
        height: 100%;
    }

    .nav-bottom span:last-child .menu-item:last-child{
        margin-left: 15px;
    }

    .menu-bar .menu-item{
        color: #555;
        width: 100%;
    }

    .close-menu{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 28px;
        height: 28px;
    }

    .close-menu i{
        font-size: 28px;
        color: #555;
    }

    .close-category{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 28px;
        height: 28px;
    }

    .close-category i{
        font-size: 28px;
        color: #555;
    }
}

@media screen and (max-width:600px){
    .nav-bottom .menu-item p{
        display: none !important;
    }

    .nav-bottom .menu-item i{
        font-size: 24px !important;
    }

    .search-box{
        width: 200px !important;
    }
}